<div flexLayout="row" class="container">
  <div fxFlex="30" class="side-bar content">
    <mat-card class="mat-elevation-z4" style="text-align: center">
      <mat-card-title>{{ card.firstName | titlecase }} {{ card.lastName | titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ card.email | titlecase}}</mat-card-subtitle>
      <mat-card-content>
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" width="300"
                 style="border-radius: 50%; border: 2px solid white" /> -->
            <!-- <img src="{{card?.photoUrl || 'https://picsum.photos/500'}}" alt="Avatar" width="300"
              style="border-radius: 50%; border: 2px solid white;"> -->
            <img src="{{card?.photoUrl || '../../../assets/img/user.png'}}" alt="Avatar" width="300"
                 style="border-radius: 50%; border: 2px solid white;">
            <div style="margin: 10px">
              <ng-container>
                <button *ngIf="!isEditTab" mat-raised-button color="accent" style="margin-right: 10px" type="button"
                        (click)="editCard()">
                  Edit Details
                </button>
                <button *ngIf="isEditTab" mat-raised-button color="accent" style="margin-right: 10px" type="button"
                        (click)="cancelEdit()">
                  Cancel Edit
                </button>
              </ng-container>

              <ng-container *ngIf="isEditTab">
                <input type="file" style="display: none" #fileInput (change)="updatePhoto($event.target.files)" />
                <button mat-raised-button color="primary" style="margin-right: 10px" type="button"
                        (click)="fileInput.click()">
                  Change Photo
                </button>
              </ng-container>

              <ng-container *ngIf="isAccountGood() && !isEditTab">
                <button *ngIf="!basket.active" mat-raised-button color="primary" style="margin-right: 10px"
                        type="button" (click)="startCheckout()">
                  Start Checkout
                </button>
                <button *ngIf="basket.active" mat-raised-button color="primary" style="margin-right: 10px" type="button"
                        (click)="endCheckout()">
                  End Checkout
                </button>
              </ng-container>
            </div>
            <mat-divider></mat-divider>
            <h3>Status</h3>
            <mat-chip-list style="margin-top: 10px" class="mat-chip-list-stacked">
              <mat-chip *ngIf="isAccountGood()" style="background-color: green; justify-content: center" selected
                        [selectable]="false">
                {{ card.status }}
              </mat-chip>
              <mat-chip *ngIf="!isAccountGood()" style="justify-content: center" selected [selectable]="false"
                        color="warn">
                {{ card.status }}
              </mat-chip>
              <mat-chip *ngIf="card.fees > 0" style="justify-content: center" [selectable]="false" selected
                        color="warn">
                <button mat-icon-button type="button" (click)="payFees()" aria-label="Payment icon-button">
                  Pay {{ card.fees | currency }}
                  <mat-icon>payment</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
            <ng-container>
              <h3>Card Number</h3>
              <p>
                {{ card.cardNumber }}
              </p>
              <h3>Gender</h3>
              <p>
                {{ card.gender }}
              </p>
              <h3>Phone Number</h3>
              <p>
                {{ card.phoneNumber | phoneNumber }}
              </p>
              <h3>Age</h3>
              <p>
                {{ card.age }}
              </p>
              <h3>Address</h3>
              <address>{{ card.address.street }}</address>
              <address>{{ card.address.city }}, {{ card.address.state?.name }} {{ card.address.zipcode }}</address>
              <h3>Member Since</h3>
              <p>
                {{ card.created | date: 'longDate' }}
              </p>
            </ng-container>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="70" class="content">
    <mat-card class="tab-card mat-elevation-z4">
      <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="tabClicked($event)" dynamicHeight>
        <mat-tab [disabled]="isEditTab" label="Current Checkouts">
          <lms-library-card-detail-checkout-list [card]="card"></lms-library-card-detail-checkout-list>
        </mat-tab>
        <mat-tab [disabled]="disableCheckouts()" label="Checkout Item">
          <ng-template matTabContent>
            <div class="example-small-box" fxFlexAlign="stretch">
              <lms-library-card-checkout [card]="card"></lms-library-card-checkout>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Edit Card">
          <ng-template matTabContent>
            <lms-library-card-edit (closeTab)="cancelEdit()" [(card)]="card" (isFormDirty)="isFormDirty($event)"
                                   [states]="states"></lms-library-card-edit>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
