<div class="content">
  <mat-card>
    <mat-card-content>
      <p>Reset your password</p>
      <mat-form-field class="full-width-input">
        <input [formControl]="resetEmail" matInput placeholder="Email" required>
        <mat-error *ngFor="let validation of validationMessages.email">
          <mat-error *ngIf="resetEmail.hasError(validation.type) && (resetEmail.dirty || resetEmail.touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetEmail.valid"
              (click)="sendForgotPasswordLink(resetEmail.value)">Send
        password reset
        email</button>
      <p class="text-center"><a [routerLink]="['/auth/login']">Login?</a> </p>
    </mat-card-content>
  </mat-card>
</div>
