<!-- <div fxLayout="row" fxLayoutAlign="end center">
  <button mat-button matSuffix mat-icon-button tabIndex="-1" aria-label="clear" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <h2>
    Add New Item test
  </h2>
</div>

<mat-dialog-content>
  <form fxLayout="column" [formGroup]="assetForm" (ngSubmit)="addAsset()">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Title" formControlName="title" required autocomplete="test" />
        <mat-error *ngFor="let validation of validationMessages.title">
          <mat-error *ngIf="
            assetForm.get('title').hasError(validation.type) &&
                  (assetForm.get('title').dirty || assetForm.get('title').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field fxFlex>
        <input matInput placeholder="Search Author" formControlName="author" required [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          <mat-option *ngFor="let author of authors" [value]="author">
            {{author.fullName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngFor="let validation of validationMessages.author">
          <mat-error *ngIf="
            assetForm.get('author').hasError(validation.type) &&
                  (assetForm.get('author').dirty || assetForm.get('author').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field> -->
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <textarea matInput type="text" maxlength="200" placeholder="Description" formControlName="description"
                  required></textarea>
        <mat-hint align="end">{{ assetForm.get('description').value?.length }} / 200</mat-hint>
        <mat-error *ngFor="let validation of validationMessages.description">
          <mat-error *ngIf="
            assetForm.get('description').hasError(validation.type) &&
                (assetForm.get('description').dirty || assetForm.get('description').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field fxFlex>
        <mat-select [(value)]="selectedCategory" placeholder="Category" formControlName="categoryId" required>
          <ng-container>
            <mat-option *ngFor="let category of (categories$ | async)" [value]="category.id">
              {{category.name}}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngFor="let validation of validationMessages.categoryId">
          <mat-error *ngIf="
            assetForm.get('categoryId').hasError(validation.type) &&
                  (assetForm.get('categoryId').dirty || assetForm.get('categoryId').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field> -->
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Year" formControlName="year" required maxlength="4"
               autocomplete="test" />
        <mat-error *ngFor="let validation of validationMessages.year">
          <mat-error *ngIf="
            assetForm.get('year').hasError(validation.type) &&
                  (assetForm.get('year').dirty || assetForm.get('year').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field fxFlex>
        <mat-select [(value)]="selectedAssetType" (valueChange)="onItemChange($event)" placeholder="Type"
                    formControlName="assetTypeId" required> -->
      <mat-form-field fxFlex>
        <mat-select placeholder="Type" formControlName="assetType" required>
          <ng-container *ngFor="let type of assetType | keyvalue">
            <mat-option [value]="type.value">{{ type.value }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngFor="let validation of validationMessages.assetTypeId">
          <mat-error *ngIf="
            assetForm.get('assetType').hasError(validation.type) &&
                  (assetForm.get('assetType').dirty || assetForm.get('assetType').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="number" placeholder="Number of Copies" formControlName="numberOfCopies" required min="1">
        <mat-error *ngFor="let validation of validationMessages.assetTypeId">
          <mat-error *ngIf="assetForm.hasError(validation.type) && (assetForm.dirty || assetForm.touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="ISBN" formControlName="isbn" required>
        <mat-error *ngFor="let validation of validationMessages.isbn">
          <mat-error *ngIf="assetForm.hasError(validation.type) && (assetForm.dirty || assetForm.touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <!-- <ng-container formArrayName="assetCategories">
        <h4>Categories</h4> -->
      <!-- <button type="button" (click)="addFormCategory()">+ Add another Category</button> -->
      <!-- <ng-container *ngFor="let item of assetCategories?.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field fxFlex>

              <input matInput type="text" placeholder="Category {{i + 1}}" formControlName="category" required> -->
      <!-- <input matInput type="text" placeholder="Category" required> -->

      <!-- </mat-form-field>
          </div>
        </ng-container>
      </ng-container> -->
      <!-- <mat-form-field fxFlex>
          <input matInput type="number" placeholder="Number of Copies" formControlName="numberOfCopies" required min="1">
          <mat-error *ngFor="let validation of validationMessages.assetTypeId">
            <mat-error *ngIf="assetForm.hasError(validation.type) && (assetForm.dirty || assetForm.touched)">
              {{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field> -->

      <!-- <mat-form-field fxFlex>
          <input matInput type="text" placeholder="ISBN" formControlName="isbn" required>
          <mat-error *ngFor="let validation of validationMessages.isbn">
            <mat-error *ngIf="assetForm.hasError(validation.type) && (assetForm.dirty || assetForm.touched)">
              {{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field> -->
    </div>

    <div style="margin-top: 50px;" class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
         fxLayoutGap.lt-md="0px">
      <!-- <div class="add-bottom-padding" fxLayout.lt-sm="column" fxFlex>
        <mat-form-field class="full-width-input">
          <input matInput type="number" placeholder="Current Copies Available" formControlName="copiesAvailable"
                 required min="1">
          <mat-error
                     *ngIf="assetForm.get('numberOfCopies').hasError('required') && (assetForm.get('numberOfCopies').dirty || assetForm.get('numberOfCopies').touched)">
            Number of copies is required</mat-error>
        </mat-form-field>
      </div> -->
      <div class="button-row" fxLayoutAlign="space-between center" fxFlex>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="assetForm.invalid || assetForm.pristine">Submit</button>
        <button mat-raised-button color="accent" type="reset" [disabled]="!assetForm.dirty">Reset</button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
  <div style="margin-top: 20px;" class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
       fxLayoutGap.lt-md="0px">
    <div fxFlex="50">
      <ng-container>
        <div style="justify-content: center;" fxLayout="column">
          <mat-form-field>
            <input [formControl]="authorForm" matInput type="text" #authorInput placeholder="Add Author"
                   [matAutocomplete]="authorAutoComplete" required autocomplete="test" name="sdffd">
            <mat-autocomplete autoActiveFirstOption [displayWith]="displayAuthorName"
                              #authorAutoComplete="matAutocomplete">
              <mat-option *ngFor="let author of filteredAuthors$ | async" [value]="author">
                {{ author.fullName }}
              </mat-option>
            </mat-autocomplete>
            <button *ngIf="authorForm.valid" (click)="addAuthor(authorForm.value)" matSuffix mat-icon-button
                    color="primary" aria-label="Add">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <ng-container>
            <h4>Selected Authors</h4>
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip style="max-width: fit-content;" selected color="accent" (removed)="removeAuthor
              (author)" *ngFor="let author of selectedAuthors">{{ author.fullName }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div fxFlex="50">
      <ng-container>
        <div fxLayout="column">
          <div fxLayout="row">
            <mat-form-field>
              <input [formControl]="categoryForm" matInput type="text" #categoryInput placeholder="Add Category"
                     [matAutocomplete]="categoryAutoComplete" required autocomplete="test" name="sdffd">
              <mat-autocomplete autoActiveFirstOption [displayWith]="displayCategoryName"
                                #categoryAutoComplete="matAutocomplete">
                <mat-option *ngFor="let category of filteredCategories$ | async" [value]="category">
                  {{ category.name }}
                </mat-option>
              </mat-autocomplete>
              <button *ngIf="categoryForm.valid" (click)="addCategory(categoryForm.value)" matSuffix mat-icon-button
                      color="primary" aria-label="Add">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <ng-container>
            <h4>Selected Categories</h4>
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip style="max-width: fit-content;" selected (removed)="removeCategory(category)"
                        *ngFor="let category of selectedCategories">{{
                category.name }}<mat-icon matChipRemove>cancel
                </mat-icon>
              </mat-chip>
            </mat-chip-list>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
