<form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)">
  <div fxLayout="column" fxLayoutAlign="space-evenly start">
    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="Current Password" formControlName="currentPassword" required>
      <mat-error *ngFor="let validation of validationMessages.password">
        <mat-error
                   *ngIf="changeForm.get('password')?.hasError(validation.type) && (changeForm.get('password')?.dirty || changeForm.get('password')?.touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
      <mat-error *ngFor="let validation of validationMessages.password">
        <mat-error
                   *ngIf="changeForm.get('password')?.hasError(validation.type) && (changeForm.get('password')?.dirty || changeForm.get('password')?.touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
      <mat-error *ngFor="let validation of validationMessages.confirmPassword">
        <mat-error
                   *ngIf="changeForm.get('confirmPassword')?.hasError(validation.type) && (changeForm.get('confirmPassword')?.dirty || changeForm.get('confirmPassword')?.touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changeForm.valid">Submit</button>
  </div>
</form>
