<div class="dashboard-container">
  <div flexLayout="row" fxLayoutAlign="space-between center" class="top-dashboard" fxLayoutGap="10px">
    <div fxFlex="33" class="mat-elevation-z4">
      <lms-bar-chart [chartName]="monthlyChartName" [chartData]="dashboardData.checkoutsByMonth"
                     [secondData]="dashboardData.returnsByMonth">
      </lms-bar-chart>
    </div>
    <div fxFlex="33" class="mat-elevation-z4">
      <lms-pie-chart [chartName]="categoryChartName" [chartData]="dashboardData.categoryDistribution">
      </lms-pie-chart>
    </div>
    <div fxFlex="33" class="mat-elevation-z4">
      <lms-pie-chart [chartName]="assetTypedChartName" [chartData]="dashboardData.typeDistribution">
      </lms-pie-chart>
    </div>
  </div>
  <div flexLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="middle-dashboard">
    <div fxFlex="25" class="mat-elevation-z4">
      <lms-total-card [iconName]="totalMembersIcon" [name]="totalMembersName" [totalNumber]="dashboardData.totalCards">
      </lms-total-card>
    </div>
    <div fxFlex="25" class="mat-elevation-z4">
      <lms-total-card [iconName]="totalItemsIcon" [name]="totalItemsName" [totalNumber]="dashboardData.totalItems">
      </lms-total-card>
    </div>
    <div fxFlex="25" class="mat-elevation-z4">
      <lms-total-card [iconName]="totalAuthorsIcon" [name]="totalAuthorsName"
                      [totalNumber]="dashboardData.totalAuthors">
      </lms-total-card>
    </div>
    <div fxFlex="25" class="mat-elevation-z4">
      <lms-total-card [iconName]="totalCheckoutsIcon" [name]="totalCheckoutsName"
                      [totalNumber]="dashboardData.totalCheckouts">
      </lms-total-card>
    </div>
  </div>

  <div flexLayout="row" fxLayoutAlign="center center" class="bottom-dashboard">
    <div fxFlex="100" class="mat-elevation-z4">
      <lms-line-chart [firstData]="dashboardData.checkoutsByDay" [secondData]="dashboardData.returnsByDay"
                      [chartName]="dailyChartName">
      </lms-line-chart>
    </div>
  </div>
</div>
