<form style="margin-top: 10px;" fxLayout="column" [formGroup]="cardForm" (ngSubmit)="editCard(cardForm.value)">
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="First Name" formControlName="firstName" required autocomplete="test" />
      <mat-error *ngFor="let validation of validationMessages.firstName">
        <mat-error *ngIf="
                cardForm.get('firstName').hasError(validation.type) &&
                (cardForm.get('firstName').dirty || cardForm.get('firstName').touched)">
          {{ validation.message }}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Last Name" formControlName="lastName" required autocomplete="test" />
      <mat-error *ngFor="let validation of validationMessages.lastName">
        <mat-error *ngIf="
                cardForm.get('lastName').hasError(validation.type) &&
                (cardForm.get('lastName').dirty || cardForm.get('lastName').touched)">
          {{ validation.message }}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Email" formControlName="email" required autocomplete="test" />
      <mat-error *ngFor="let validation of validationMessages.email">
        <mat-error *ngIf="
              cardForm.get('email').hasError(validation.type) &&
              (cardForm.get('email').dirty || cardForm.get('email').touched)">
          {{ validation.message }}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <span matPrefix>+1 &nbsp;</span>
      <input matInput type="text" placeholder="Mobile" maxlength="10" formControlName="phoneNumber" required
             autocomplete="test" />
      <mat-error *ngFor="let validation of validationMessages.phoneNumber">
        <mat-error *ngIf="
                cardForm.get('phoneNumber').hasError(validation.type) &&
                (cardForm.get('phoneNumber').dirty || cardForm.get('phoneNumber').touched)">
          {{ validation.message }}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="address">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Street" formControlName="street" required autocomplete="test" />
        <mat-error *ngFor="let validation of validationMessages.street">
          <mat-error *ngIf="
                cardForm.get('address.street').hasError(validation.type) &&
                (cardForm.get('address.street').dirty || cardForm.get('address.street').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="City" formControlName="city" required autocomplete="test" />
        <mat-error *ngFor="let validation of validationMessages.city">
          <mat-error *ngIf="
                cardForm.get('address.city').hasError(validation.type) &&
                (cardForm.get('address.city').dirty || cardForm.get('address.city').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <!-- Added uncommon name to stop browser auto complete -->
        <input matInput type="text" name="zdfgfg" placeholder="State" formControlName="state" [matAutocomplete]="auto"
               required autocomplete="test" />
        <mat-autocomplete autoActiveFirstOption [displayWith]="displayStateName" #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngFor="let validation of validationMessages.state">
          <mat-error
                     *ngIf="cardForm.get('address.state').hasError(validation.type) && (cardForm.get('address.state').dirty || cardForm.get('address.state').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="text" maxlength="5" placeholder="Zipcode" formControlName="zipcode" required
               autocomplete="test" />
        <mat-hint align="end">{{ cardForm.get('address.zipcode').value?.length }} / 5</mat-hint>
        <mat-error *ngFor="let validation of validationMessages.zipcode">
          <mat-error *ngIf="
                cardForm.get('address.zipcode').hasError(validation.type) &&
                (cardForm.get('address.zipcode').dirty || cardForm.get('address.zipcode').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <div class="add-bottom-padding" fxLayout.lt-sm="column" fxFlex>
      <mat-radio-group formControlName="gender">
        <mat-radio-button style="margin-right: 20px;" *ngFor="let gender of genders | keyvalue" [value]="gender.value">
          {{
          gender.value }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="button-row" fxLayoutAlign="space-between center" fxFlex>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="cardForm.invalid || cardForm.pristine">Submit</button>
      <button mat-raised-button color="accent" type="button" *ngIf="cardForm.dirty" (click)="revert()">Reset</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</form>
